# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

domain {{ ansible_domain }}
search {{ ansible_domain }}
# TODO(dittrich): This should have been an array+loop
nameserver {{ dnsNameserver }}
