[
{# For the data structures and options available, see "rabbitmqctl report" #}
  {rabbit, [
    {auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']},
    {tcp_listeners, [{"{{ rabbitmq_tcp_listen_address|default('127.0.0.1') }}", {{ rabbitmq_tcp_listen_port }}}]},
    {credential_validator, [{validation_backend,
                             rabbit_credential_validator_password_regexp},
                             {regexp, <<"^[a-bA-Z0-9\.-$]{20,100}">>}]}
{%- if rabbitmq_ssl_listen_address is defined and rabbitmq_ssl_listen_address != '' and rabbitmq_ssl_listen_port is defined and rabbitmq_ssl_listen_port != '' %},
    {ssl_listeners, [{"{{ rabbitmq_ssl_listen_address }}", {{ rabbitmq_ssl_listen_port }}}]},
    {ssl_options, [
{% if rabbitmq_ssl_versions is defined %}
      {versions, [{{ rabbitmq_ssl_versions }}]},
{% endif %}
      {cacertfile, "{{ rabbitmq_ssl_cacertfile }}"},
      {certfile, "{{ rabbitmq_ssl_certfile }}"},
      {keyfile, "{{ rabbitmq_ssl_keyfile }}"},
      {verify, {{ rabbitmq_ssl_verify}}},
      {fail_if_no_peer_cert, {{ rabbitmq_ssl_fail_if_no_peer_cert }}}
      ]}
{% endif %}
  ]},
{% if rabbitmq_mgmt_listen_port is defined %}
  {rabbitmq_management, [
    {listener, [
      {port, {{ rabbitmq_mgmt_listen_port }}},
      {ip, "{{ rabbitmq_mgmt_listen_address }}"}
{%- if rabbitmq_mgmt_uses_ssl is defined and rabbitmq_ssl_listen_address|bool %},
      {ssl, true},
      {ssl_opts, [
        {cacertfile, "{{ rabbitmq_ssl_cacertfile }}"},
        {certfile, "{{ rabbitmq_ssl_certfile }}"},
        {keyfile, "{{ rabbitmq_ssl_keyfile }}"}
      ]},
      {load_definitions, "/etc/rabbitmq/broker_objects.json"}
{% endif %}
    ]}
{% endif %}
{%- if groups['rabbitmq']|length > 1 -%}
,
    {cluster_nodes, {[
{% for host in ansible_play_hosts %}
                      'rabbit@{{ hostvars[host]['ansible_hostname'] }}'{% if not loop.last %},{% endif %}
{% endfor %}
                     ],disc}}
{% endif %}
  ]},
  {kernel, [
    {inet_dist_listen_min, 9100},
    {inet_dist_listen_max, 9105}
  ]}
].
