#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

load helpers

function setup() {
    source $DIMS/bin/dims_functions.sh
}

{% if opendkim_host_spf_txt is defined and opendkim_host_spf_txt != '' %}
@test "[S][EV] _report._domainkey.{{ dims_domain }} is set" {
    dig _report._domainkey.'{{ dims_domain }}' +short txt | grep "ra=root"
}

@test "[S][EV] _dmarc.{{ dims_domain }} TXT record exists" {
    dig _dmarc.'{{ dims_domain }}' +short txt | grep "v=DMARC1"
}
{% endif %}

# vim: set ts=4 sw=4 tw=0 et :
