#!/usr/bin/env bats
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# vim: set ts=4 sw=4 tw=0 et :

load helpers

function setup() {
    source $DIMS/bin/dims_functions.sh
}
{% if opendkim_selector is defined and opendkim_selector != '' %}
{% set _opendkim_domain = opendkim_selector + '._domainkey.' + dims_domain %}
{% endif %}

{% if _opendkim_domain is defined and _opendkim_domain != '' %}
@test "[S][EV] Opendkim record exists for {{ _opendkim_domain }}" {
    dig @8.8.8.8 '{{ _opendkim_domain }}' +short txt | grep "DKIM1"
}
{% endif %}

{% if opendkim_socket is defined and opendkim_socket != '' %}
@test "[S][EV] Opendkim is running" {
    ps auxwww | grep opendkim | grep '/usr/sbin/opendkim'
}
{% endif %}

# vim: set ts=4 sw=4 tw=0 et :
