# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}
#
# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pip==19.3
sh==1.12.14
six==1.12.0
cffi==1.13.0
#pylint==1.4.3
virtualenv==16.7.6
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
netaddr
update-dotdee
docker-py
wheel==0.31.1
urllib3==1.25.6
pyOpenSSL
ndg-httpsclient
bcrypt
passlib
pyasn1
python-dateutil
python-jenkins
python_secrets
