# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# {{ force_changed_file }}
#
# /etc/aliases
mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root
root: {{ dims_adminemail|default(ansible_user_id + "@" + ansible_fqdn) }}

{% if trident_site_mail_handler is defined and groups['trident'] is defined and inventory_hostname in groups['trident'] %}
# See https://trident.li/doc/#toc_32
trident-handler: "|{{ trident_site_mail_handler }}"
{% endif %}
