#!/bin/bash
#
# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# Copyright (C) 2018, David Dittrich <dave.dittrich@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This is a simple post-renewal hook for copying Letsencrypt
# certificates/keys for use by unprivileged rabbitmq processing.

[[ -d {{ rabbitmq_ssl_dir }} ]] || (echo "[-] Directory {{ rabbitmq_ssl_dir }} does not exist" && exit 1)
cp {{ letsencrypt_tls_fullchainfile }} {{ rabbitmq_ssl_cacertfile }}
cp {{ letsencrypt_tls_certfile }} {{ rabbitmq_ssl_certfile }}
cp {{ letsencrypt_tls_keyfile }} {{ rabbitmq_ssl_keyfile }}
for F in {{ rabbitmq_ssl_cacertfile }} {{ rabbitmq_ssl_certfile }} {{ rabbitmq_ssl_keyfile }}; do
  chown root:rabbitmq $F
  chmod 640 $F
  # TODO(dittrich): Add selinux property setting for rabbitmq
done
exit 0
