# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]

{% if trident_site_email_domain is not defined %}
# This file is empty on purpose.
{% else %}
# Internal delivery
@{{ trident_site_email_domain }}  :
{% if trident_site_people_domain is defined and trident_site_people_domain != trident_site_email_domain %}
@{{ trident_site_people_domain }} :
{% endif %}
{% endif %}
