# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
#  Rules for doing log consolidation using remote rsyslog logging from DIMS
#  clients to a central server. This configuration file must exist on the
#  consolidation server.
#
#  Logs for each sending client will be stored in the /var/log/dims/
#  directory using the hosts' FQDN (see rsyslog.conf).
#
# See:
#
#  http://www.rsyslog.com/storing-messages-from-a-remote-system-into-a-specific-file/
#  http://www.rsyslog.com/sending-messages-to-a-remote-syslog-server/
#  http://serverfault.com/questions/274625/how-do-i-get-rsyslogd-to-log-a-servers-fqdn-instead-of-its-short-hostname

{% if rsyslog_server is defined %}
$ModLoad imtcp # load TCP listener

{% if rsyslog_use_ssl|bool|default(false) %}
# certificate files
$DefaultNetstreamDriverCAFile {{ rsyslog_ssl_cacertfile }}
$DefaultNetstreamDriverCertFile {{ rsyslog_ssl_certfile }}
$DefaultNetstreamDriverKeyFile {{ rsyslog_ssl_keyfile }}

# make gtls driver the default
$DefaultNetstreamDriver gtls

$InputTCPServerStreamDriverAuthMode x509/name # Auth mode
$InputTCPServerStreamDriverPermittedPeer *.{{ dims_domain }}
$InputTCPServerStreamDriverMode 1 # Only use TLS
{% endif %}

$InputTCPServerRun {{ rsyslog_port }}

# do this in FRONT of the local/regular rules

{%  if rsyslog_perhost is defined and rsyslog_perhost|bool %}
$template LogFile,"/var/log/dims/%HOSTNAME%.log"
{%  else %}
$template LogFile,"/var/log/dims/{{ dims_domain }}.log"
{%  endif %}

{%  if rsyslog_domains is defined %}
{%   for domain in rsyslog_domains %}
{%    if rsyslog_perhost is defined and rsyslog_perhost|bool %}
if $fromhost != '{{ dims_fqdn }}' and $fromhost contains '{{ domain }}' then -?LogFile
& stop
{%    else %}
if $fromhost contains '{{ domain }}' then -?LogFile
& stop
{%    endif %}
{%   endfor %}
{%  endif %}

{% endif %}
