# {{ ansible_managed }} [ansible-playbooks v{{ ansibleplaybooks_version }}]
#
# {{ force_changed_file }}
#
{% if trident_site_email_domain is not defined and trident_site_people_domain is not defined %}
# This file is empty on purpose.
{% else %}
# This system is configured for use with Trident.
# See: https://trident.li/doc/#toc_32
{% endif %}

{% if trident_site_email_domain is defined %}
mail-handler@{{ trident_site_email_domain }}	trident-handler
@{{ trident_site_email_domain }} trident-handler
{% endif -%}
{% if trident_site_email_domain is defined and trident_site_email_domain != trident_site_people_domain %}
mail-handler@{{ trident_site_people_domain }} trident-handler
@{{ trident_site_people_domain }} trident-handler
{% endif -%}
